<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Parcial2_ap2_20180619</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => ExpandirRegistros = !ExpandirRegistros">
                <span class="oi oi-plus" aria-hidden="true"></span> Registros
            </NavLink>

            @if (ExpandirRegistros)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="rCobros">
                            <span class="oi oi-dollar" aria-hidden="true"></span> Registro Cobros
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => ExpandirConsultas = !ExpandirConsultas">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Consultas
            </NavLink>

            @if (ExpandirConsultas)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="cCobros">
                            <span class="oi oi-dollar" aria-hidden="true"></span> Consulta Cobros
                        </NavLink>
                    </li>
                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="cVentas">
                            <span class="oi oi-cart" aria-hidden="true"></span> Consulta Ventas
                        </NavLink>
                    </li>
                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="cClientes">
                            <span class="oi oi-person" aria-hidden="true"></span> Consulta Clientes
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool ExpandirRegistros;
    private bool ExpandirConsultas;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
